/* ==========================================
    MODO OSCURO
   ========================================== */
    body.modo-oscuro {
        background-color: var(--azul1);
        color: var(--celeste5);
        cursor: url('../assets/img/icons/cursor-dark.svg'), auto;
    }
    body.modo-oscuro .contenido {
        background-color: var(--azul2);
    }
    body.modo-oscuro a {
        color: var(--celeste5);
    }
    body.modo-oscuro a:hover {
        color: var(--blanco);
        cursor: url('../assets/img/cursor/cursor-hover-dark.svg'), pointer;
    }
    body.modo-oscuro .boton {
        color: var(--azul);
        background-color: var(--celeste1);
    }
    body.modo-oscuro .boton:hover {
        color: var(--azul);
        background-color: var(--azul3);
        cursor: url('../assets/img/cursor/cursor-hover-dark.svg'), pointer;
    }
    body.modo-oscuro .copyright {
        color: var(--celeste1);
    }
    body.modo-oscuro input {
        cursor: url('../assets/img/cursor/cursor-text.svg'), text;
    }