/* ==========================================
    COMPUTADORAS DE ESCRITORIO / PCS
   ========================================== */
@media (min-width: 1024px) {
    ::selection { /* Color de selección de texto */
        background-color: var(--bg-selection);
        color: var(--blanco);
    }
    body {
        font-size: 16px;
    }
    .contenido {
        padding: 2rem;
        margin: 2rem auto;
        max-width: 770px;
        border-radius: 2.5rem;
        box-shadow: var(--shadow-content);
        background: var(--bg-content);
    }
    .logo-header-contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .logo-header {
        height: 5rem;
        width: auto;
    }
    .logo-footer {
        height: 5.5rem;
        width: auto;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem;
        text-align: center;
    }
    #boton-menu {
        display: none;
    }
    #formulario-contacto {
        border-radius: 1.5rem;
    }
    .iframe-contenedor {
        display: flex;
        justify-content: center;
    }
    .enlaces {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 1.5rem;
        text-align: center;
    }
}