/* ==========================================
    TIPOGRAFIAS LOCALES
   ========================================== */
/* Nunito (regular) */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/nunito-v32-latin-regular.woff2') format('woff2');
}
/* Nunito (negrita) */
@font-face {
    font-display: swap; 
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/nunito-v32-latin-700.woff2') format('woff2');
}

/* Nunito Sans (regular) */
@font-face {
    font-display: swap; 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/nunito-sans-v19-latin-regular.woff2') format('woff2');
}
/* Nunito Sans (negrita) */
@font-face {
    font-display: swap; 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/nunito-sans-v19-latin-700.woff2') format('woff2');
}