
/* PALETA DE COLORES */
:root {
    --blanco: #fff;
    --claro: #ddd;
    --oscuro: #1a1a1a;
    --negro: #000;

    --azul: #010f8f;
    --azul_oscuro: #000745;
    --celeste: #0088ff;
    --celeste_claro: #75aee0;
    --lila: #9f93eb;
    --cian: #00ffff;
}

/* REINICIO DE ESTILOS */
* {
    padding: 0;
}
button {
    border: none;
}

/* ESTILOS GENERALES */
a {
    text-decoration: none;
    color: var(--oscuro);
}

a:hover {
    color: var(--azul);
}

.boton {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000745;
    background-color: var(--blanco);
}
.boton:hover {
    cursor: pointer;
    background-color: var(--celeste_claro);
}

.logo-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-header-img {
    height: 20px;
    width: auto;
}

h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

/* COLORES Y TEXTO DEL BODY */
body {
    font-family: "Nunito Sans";
    font-size: 8px;
    font-weight: normal;
    margin: 0;

    background-color: var(--claro);
    color: var(--oscuro);
    transition: background 0.2s ease;
}

/* MODO OSCURO */
body.modo-oscuro {
    background-color: var(--azul_oscuro);
    color: var(--cian);
}

body.modo-oscuro a {
    color: var(--cian);
}

body.modo-oscuro a:hover {
    color: var(--blanco);
}
body.modo-oscuro .boton {
    color: var(--azul);
    background-color: var(--celeste);
}
body.modo-oscuro .boton:hover {
    color: var(--azul);
    background-color: var(--cian);
}



/* TELÉFONOS GRANDES O TABLET */
@media (min-width: 768px) {
    body {
        margin: 0;
    }
}

/* COMPUTADORAS DE ESCRITORIO */
@media (min-width: 1024px) {

    body {
        font-size: 16px;
    }

    .logo-contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo-header-img {
        height: 70px;
        width: auto;
    }

    h1 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .menu-item {
        list-style: none;
    }
}