
/* PALETA DE COLORES */
:root {
    /* principales */
    --blanco: #fff;
    --claro1: #ccc;
    --claro2: #eee;
    --oscuro: #1a1a1a;
    --negro: #000;
    /* azules */
    --azul1: #000423;
    --azul2: #000745;
    --azul3: #010F8F;
    --azul4: #012EAB;
    /* celestes */
    --celeste1: #014CC7;
    --celeste2: #0088FF;
    --celeste3: #00C4FF;
    --celeste4: #50C9F5;
    --celeste5: #7CD7F8;
    --celeste6: #A8E4FA;
    --celeste7: #D4F2FD;
    /* otros */
    --lila1: #78AEF0;
    --lila2: #9f93eb;
    --cian: #00ffff;
}

/* REINICIO DE ESTILOS */
* { padding: 0; }
button { border: none; }

/* COLORES Y TEXTO DEL BODY */
body {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    background-color: var(--claro1);
    color: var(--azul1);
    transition: background 0.2s ease;
}

/* ESTILOS GENERALES */
    a {
        text-decoration: none;
        color: var(--oscuro);
    }
    a:hover {
        color: var(--azul);
    }
    .boton {
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #000745;
        background-color: var(--blanco);
    }
    .boton:hover {
        cursor: pointer;
        background-color: var(--celeste5);
    }
    input {
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #000745;
        background-color: var(--blanco);
    }
    .logo-header-contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .logo-header {
        height: 60px;
        width: auto;
    }
    .logo-footer {
        display: block;
        height: 20px;
        width: auto;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
    }
    .contenido {
        background-color: var(--claro2);
        padding: 10px;
    }
    #copyright {
        text-align: center;
    }
    #boton-modo {
        display: block;
        margin: 0 auto;
    }


/* MODO OSCURO */
    body.modo-oscuro {
        background-color: var(--azul1);
        color: var(--celeste5);
    }
    body.modo-oscuro .contenido {
        background-color: var(--azul2);
    }
    body.modo-oscuro a {
        color: var(--celeste5);
    }
    body.modo-oscuro a:hover {
        color: var(--blanco);
    }
    body.modo-oscuro .boton {
        color: var(--azul);
        background-color: var(--celeste2);
    }
    body.modo-oscuro .boton:hover {
        color: var(--azul);
        background-color: var(--azul4);
    }

/* TELÉFONOS GRANDES O TABLETS */
@media (min-width: 768px) {
    body {
        margin: 0;
    }
}

/* COMPUTADORAS DE ESCRITORIO */
@media (min-width: 1024px) {
    body {
        font-size: 16px;
    }
    .contenido {
        padding: 30px;
        margin: 20px auto;
        max-width: 770px;
        border-radius: 40px;
    }
    .logo-header-contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .logo-header {
        height: 70px;
        width: auto;
    }
    .logo-footer {
        height: 40px;
        width: auto;
        margin: 0 auto;
    }
    h1 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .menu-item {
        list-style: none;
    }
    #boton-menu {
        display: none;
    }
}