/* ==========================================
    MODO OSCURO
   ========================================== */
body.modo-oscuro {
    /* BODY */
    --bg-body: var(--azul1);
    --text-body: var(--celeste5);
    /* CONTENIDO */
    --bg-content: linear-gradient(90deg, var(--azul2) 0%, var(--azul3) 100%);
    --shadow-content: 0 4px 16px rgba(1, 76, 199, 0.08);
    /* LINK */
    --link: var(--celeste2);
    --link-hover: var(--blanco);
    /* TARJETAS */
    --bg-section-card: linear-gradient(90deg, var(--celeste1) 0%, var(--azul4) 100%);
    --text-section-card: var(--celeste6);
    --border-section-card: var(--celeste3);
    --bg-subsection-card: linear-gradient(-90deg, var(--celeste1) 0%, var(--celeste2) 100%);
    --text-subsection-card: var(--blanco);
    --border-subsection-card: var(--celeste4);
    --shadow-section-card: 0 4px 16px rgba(1, 76, 199, 0.08);
    --shadow-subsection-card: 0 4px 16px rgba(1, 76, 199, 0.08);
    /* TITULOS */
    --text-titles: var(--celeste5);
    /* BOTONES / ENLACES */
    --bg-button: var(--celeste3);
    --bg-button-hover: var(--celeste2);
    --text-button: var(--azul1);
    --text-button-hover: var(--azul1);
    --border-button: var(--celeste3);
    /* INPUTS */
    --bg-input: var(--blanco);
    --text-input: var(--azul1);
    --border-input: var(--blanco);
    /* FOOOTER */
    --bg-footer: linear-gradient(90deg, var(--azul3) 0%, var(--azul2) 100%);
    --text-footer: var(--celeste5);
    --text-footer-hover: var(--celeste7);
    --border-footer: var(--gris2);
    --text-copy: var(--celeste4);
    /* TOAST / BANNER */
    --bg-toast: var(--celeste1);
    --text-toast: var(--blanco);
    --bg-banner: var(--naranja);
    /* SELECTION */
    --bg-selection: var(--azul3);
    /* SCROLLBAR */
    --scrollbar-track: var(--azul3);
    --scrollbar-thumb: var(--celeste2);
    --scrollbar-thumb-hover: var(--celeste1);
    /* WEATHER WIDGET */
    --bg-weather-widget: rgba(255, 255, 255, 0.15);
    --text-weather-widget: var(--blanco);
    --border-weather-widget: rgba(255, 255, 255, 0.2);
}

body.modo-oscuro {
    cursor: url('../assets/img/cursors/cursor-dark.svg'), auto;
}
body.modo-oscuro a:hover {
    cursor: url('../assets/img/cursors/cursor-hover-dark.svg'), pointer;
}
body.modo-oscuro .button:hover {
    cursor: url('../assets/img/cursors/cursor-hover-dark.svg'), pointer;
}
body.modo-oscuro input {
    cursor: url('../assets/img/cursors/cursor-text.svg'), text;
}
body.modo-oscuro #inicio {
    background-image: url('../assets/img/bg/bg_5.jpg');
}