/* ==========================================
    MODO OSCURO
   ========================================== */
body.modo-oscuro {
    /* BODY */
    --bg-body: var(--azul1);
    --text-body: var(--celeste5);
    /* CONTENIDO */
    --bg-content: var(--azul2);
    /* LINK */
    --link: var(--azul1);
    --link-hover: var(--blanco);
    /* TARJETAS */
    --bg-section-card: var(--celeste1);
    --text-section-card: var(--celeste6);
    --border-section-card: var(--celeste3);
    --bg-subsection-card: var(--celeste2);
    --text-subsection-card: var(--blanco);
    --border-subsection-card: var(--celeste4);
    --shadow-section-card: 0 4px 16px rgba(1, 76, 199, 0.08);
    --shadow-subsection-card: 0 4px 16px rgba(1, 76, 199, 0.08);
    /* TITULOS */
    --text-titles: var(--celeste5);
    /* BOTONES / ENLACES */
    --bg-button: var(--celeste1);
    --bg-button-hover: var(--azul3);
    --text-button: var(--azul);
    --text-button-hover: var(--azul);
    --border-button: var(--azul4);
    /* INPUTS */
    --bg-input: var(--blanco);
    --text-input: var(--azul1);
    --border-input: var(--gris1);
    /* FOOOTER */
    --bg-footer: var(--azul3);
    --text-footer: var(--celeste5);
    --border-footer: var(--gris2);
    --text-copy: var(--celeste4);
    /* TOAST / BANNER */
    --bg-toast: var(--celeste1);
    --bg-banner: var(--naranja);
    /* SELECTION */
    --bg-selection: var(--azul3);
}

body.modo-oscuro {
    cursor: url('../assets/img/cursors/cursor-dark.svg'), auto;
}
body.modo-oscuro a:hover {
    cursor: url('../assets/img/cursors/cursor-hover-dark.svg'), pointer;
}
body.modo-oscuro .boton:hover {
    cursor: url('../assets/img/cursors/cursor-hover-dark.svg'), pointer;
}
body.modo-oscuro input {
    cursor: url('../assets/img/cursors/cursor-text.svg'), text;
}