/* ==========================================
    VARIABLES Y PALETA DE COLORES
   ========================================== */
:root {
    /* Variable que habilita la transición fluida hacia tamaños dinámicos (auto) */
    interpolate-size: allow-keywords;

    /* colores principales */
    --blanco: #fff;
    --claro1: #ccc;
    --claro2: #eee;
    --oscuro: #1a1a1a;
    --gris1: #444;
    --gris2: #888;
    --negro: #000;
    /* azules */
    --azul1: #000423;
    --azul2: #000745;
    --azul3: #010F8F;
    --azul4: #012EAB;
    /* celestes */
    --celeste1: #014CC7;
    --celeste2: #0088FF;
    --celeste3: #00C4FF;
    --celeste4: #50C9F5;
    --celeste5: #7CD7F8;
    --celeste6: #A8E4FA;
    --celeste7: #D4F2FD;
    /* otros */
    --lila1: #78AEF0;
    --lila2: #9f93eb;
    --cian: #00ffff;
    --naranja: #912c28;

    /* BODY */
    --bg-body: var(--claro1);
    --text-body: var(--azul1);
    /* CONTENIDO */
    --bg-content: var(--claro2);
    /* LINK */
    --link: var(--azul1);
    --link-hover: var(--celeste1);
    /* TARJETAS */
    --bg-section-card: var(--blanco);
    --text-section-card: var(--azul2);
    --border-section-card: var(--claro1);
    --bg-subsection-card: var(--celeste7);
    --text-subsection-card: var(--azul1);
    --border-subsection-card: var(--celeste6);
    --shadow-section-card: 0 4px 16px rgba(1, 76, 199, 0.08);
    --shadow-subsection-card: 0 4px 16px rgba(1, 76, 199, 0.08);
    /* TITULOS */
    --text-titles: var(--azul1);
    /* BOTONES / ENLACES */
    --bg-button: var(--blanco);
    --bg-button-hover: var(--celeste6);
    --text-button: var(--azul1);
    --text-button-hover: var(--azul1);
    --border-button: var(--gris2);
    /* INPUTS */
    --bg-input: var(--blanco);
    --text-input: var(--azul1);
    --border-input: var(--gris1);
    /* FOOOTER */
    --bg-footer: var(--claro1);
    --text-footer: var(--azul1);
    --border-footer: var(--gris2);
    --text-copy: var(--gris1);
    /* TOAST / BANNER */
    --bg-toast: var(--celeste1);
    --bg-banner: var(--naranja);
    /* SELECTION */
    --bg-selection: var(--celeste2);

    /* --bg-gradient: linear-gradient(180deg, var(--celeste7) 0%, var(--blanco) 100%); */
}