/* ==========================================
    BARRA DE NAVEGACIÓN
========================================== */
.nav-card {
    width: 95%;
    max-width: 95%;
    margin: var(--space-xs) auto;
    border-radius: var(--radius-lg);
    background: var(--bg-base-inverted);
    box-shadow: var(--shadow-base);
}
a.nav-menu-link,
a.nav-menu-link:visited {
    display: inline-block !important;
    color: var(--link) !important;
    transition: var(--transition-fast);
}
a.nav-menu-link:hover {
    color: var(--link-hover) !important;
}
a.nav-menu-link:active {
    transform: scale(0.95);
    color: var(--link-hover) !important;
}

@media (min-width: 1024px) {
    .nav-card {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 58%;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-sm) var(--space-md);
        gap: var(--space-lg);
        text-align: center;
    }
    .nav-button-menu {
        display: none;
    }
}
