<header id="header-card" class="header-card">
    <div id="header-logo-container" class="header-logo-container">
        <a href="index.html"
            ><img
                src="assets/img/logos/centro.png"
                id="header-logo-centro"
                class="header-logo header-logo-centro"
                alt="Logo del Centro de Estudiantes"
                loading="lazy"
        /></a>
        <div>
            <h1 id="header-title" class="header-title">Centro de Estudiantes IPET N° 424</h1>
            <p id="header-subtitle" class="header-subtitle">
                Portal Estudiantil Oficial. Novedades, proyectos y contacto.
            </p>
        </div>
        <a href="https://ipet424.edu.ar/" target="_blank" rel="noopener"
            ><img
                src="assets/img/logos/escudo.png"
                id="header-escudo-ipet"
                class="header-logo header-escudo-ipet"
                alt="Escudo del IPET N° 424"
                loading="lazy"
        /></a>
    </div>
    <div id="header-progress-bar-container" class="header-progress-bar-container">
        <div id="header-progress-bar" class="header-progress-bar"></div>
    </div>
</header>
