<div id="modal-whats-new" class="modal-whats-new modal hidden">
    <div id="whats-new-card" class="modal-card whats-new-card">
        <div id="whats-new-header" class="modal-header whats-new-header">
            <h2>✨ ¡Novedades en el sitio!</h2>
            <span id="whats-new-version" class="whats-new-version">alpha</span>
        </div>
        <div id="whats-new-body" class="modal-body whats-new-body">
            <!-- Acá se inyectan dinámicamente las novedades del changelog -->
            <p class="loading-text">Cargando novedades...</p>
        </div>
        <button id="button-close-whats-new" class="button-close-whats-new button-close-modal button">
            ¡Entendido!
        </button>
    </div>
</div>
