<footer id="footer-card" class="footer-card">
    <div id="footer-links" class="footer-links">
        <div id="footer-links-contact" class="footer-links-contact">
            <p class="text footer-text">Instagram Oficial:
                <a href="https://instagram.com/ce.ipet424" target="_blank" rel="noopener" class="footer-link">@ce.ipet424</a>
            </p>
            <p class="text footer-text">Correo Electrónico:
                <a href="mailto:ceipet424@gmail.com" target="_blank" rel="noopener" class="footer-link">ceipet424@gmail.com</a>
            </p>
            <p class="text footer-text">Ubicación:
                <a href="https://maps.app.goo.gl/sc45qfdvuMjJbHG78" target="_blank" rel="noopener" class="footer-link">20 de Junio 201, B° Porvenir</a>
            </p>
        </div>
        <div id="footer-links-project" class="footer-links-project">
            <p class="text footer-text">Código Fuente:
                <a href="https://github.com/JohnMartinRB/CE-IPET424" target="_blank" rel="noopener" class="footer-link">Repositorio GitHub</a>
            </p>
            <p class="text footer-text">Licencia:
                <a href="https://github.com/JohnMartinRB/CE-IPET424/blob/main/LICENSE" target="_blank" rel="noopener" class="footer-link">Licencia MIT del sitio</a>
            </p>
        </div>
    </div>
    <div id="toast-copied" class="toast toast-copied">¡Enlace copiado al portapapeles!</div>
    <div id="footer-copyright" class="footer-copyright">
        <p id="footer-copyright-main" class="text footer-copyright-main">
            &copy; 2026-<span id="footer-copyright-year">2026</span> Centro de Estudiantes IPET N° 424. Todos los derechos reservados.
        </p>
        <p id="footer-copyright-sub" class="text footer-copyright-sub">
            Sitio estático desarrollado por y para estudiantes <span>(v0.21-alpha)</span>
        </p>
    </div>
    <a href="index.html"><img src="assets/img/logos/centro-completo.png" id="footer-logo" class="footer-logo" alt="Logo completo del Centro de Estudiantes" loading="lazy"></a>
</footer>