<footer class="footer-card">
    <p>Instagram Oficial:
        <a href="https://instagram.com/ce.ipet424" target="_blank" rel="noopener">@ce.ipet424</a>
    </p>
    <p>Correo Electrónico:
        <a href="mailto:ceipet424@gmail.com" target="_blank" rel="noopener">ceipet424@gmail.com</a>
    </p>
    <p>Ubicación:
        <a href="https://maps.app.goo.gl/sc45qfdvuMjJbHG78" target="_blank" rel="noopener">20 de Junio 201, B° Porvenir</a>
    </p>
    <p class="copyright">&copy; 2026-2027 Centro de Estudiantes IPET N° 424.<br>Sitio estático desarrollado por y para estudiantes (beta 0.14)<br>Todos los derechos reservados.</p>
    <img src="assets/img/logos/centro-completo.png" class="logo-footer" alt="Logo completo del Centro de Estudiantes">
</footer>