<footer id="footer-main" class="footer-card">
    <div id="footer-links" class="footer-links">
        <p>Instagram Oficial:
            <a href="https://instagram.com/ce.ipet424" target="_blank" rel="noopener" class="footer-link">@ce.ipet424</a>
        </p>
        <p>Correo Electrónico:
            <a href="mailto:ceipet424@gmail.com" target="_blank" rel="noopener" class="footer-link">ceipet424@gmail.com</a>
        </p>
        <p>Ubicación:
            <a href="https://maps.app.goo.gl/sc45qfdvuMjJbHG78" target="_blank" rel="noopener" class="footer-link">20 de Junio 201, B° Porvenir</a>
        </p>
        <p>Código Fuente:
            <a href="https://github.com/JohnMartinRB/CE-IPET424" target="_blank" rel="noopener" class="footer-link">Repositorio GitHub</a>
        </p>
        <p>Licencia:
            <a href="https://github.com/JohnMartinRB/CE-IPET424/blob/main/LICENSE" target="_blank" rel="noopener" class="footer-link">Licencia MIT del sitio</a>
        </p>
    </div>
    <div id="toast-copied" class="toast toast-copied">¡Enlace copiado al portapapeles!</div>
    <div id="footer-copyright" class="footer-copyright">
        <p id="copyright-main" class="copyright-main">
            &copy; 2026-<span id="copyright-year">2026</span> Centro de Estudiantes IPET N° 424. Todos los derechos reservados.
        </p>
        <p id="copyright-sub" class="copyright-sub">
            Sitio estático desarrollado por y para estudiantes <span>(v<span id="version-tag">0.19</span>-alpha)</span>
        </p>
    </div>
    <a href="index.html"><img src="assets/img/logos/centro-completo.png" id="logo-footer" class="logo-footer" alt="Logo completo del Centro de Estudiantes" loading="lazy"></a>
</footer>