<header id="header-main" class="header-main">
    <div id="logo-header-container" class="logo-header-container">
        <img src="assets/img/logos/centro.png" id="logo-header" class="logo-header" alt="Logo del Centro de Estudiantes" loading="lazy">
        <div>
            <h1 id="title" class="title">CENTRO DE ESTUDIANTES IPET N° 424</h1>
            <p id="subtitle" class="subtitle">Portal Estudiantil Oficial. Novedades, proyectos y contacto.</p>
        </div>
        <img src="assets/img/logos/escudo.png" id="logo-escudo" class="logo-header" alt="Escudo del IPET N° 424" loading="lazy">
    </div>
    <!-- BARRA DE PROGRESO DE LECTURA -->
    <div id="progress-bar-container" class="progress-bar-container">
        <div id="progress-bar" class="progress-bar"></div>
    </div>
</header>