<header class="header-principal">
    <div class="logo-header-contenedor">
        <img src="assets/img/logos/centro.png" alt="Logo del Centro de Estudiantes" class="logo-header">
        <h1 class="titulo">CENTRO DE ESTUDIANTES IPET N° 424</h1>
        <img src="assets/img/logos/escudo.png" alt="Escudo del IPET N° 424" class="logo-header">
    </div>
    <nav class="nav-principal">
        <button id="boton-menu" class="boton" aria-label="Abrir menú">☰</button>
        <ul class="menu">
            <li class="menu-item"><a href="#tramites">Trámites y PDFs</a></li>
            <li class="menu-item"><a href="#reglamento">Reglamento y Horarios</a></li>
            <li class="menu-item"><a href="#herramientas">Calculadora</a></li>
            <li class="menu-item"><a href="#centro">Nuestro Centro</a></li>
            <li class="menu-item"><a href="#contacto">Contacto</a></li>
        </ul>
        <!-- BOTÓN DE MODO OSCURO -->
        <button id="boton-modo" class="boton">Modo Oscuro 🌙</button>
    </nav>
</header>