<div id="whats-new-modal" class="whats-new-modal hidden">
    <div class="whats-new-card">
        <div class="whats-new-header">
            <h3>✨ ¡Novedades en el sitio!</h3>
            <span id="whats-new-version" class="whats-new-version">v0.27</span>
        </div>
        <div id="whats-new-content" class="whats-new-content">
            <!-- Acá se inyectan dinámicamente las novedades del changelog -->
            <p class="loading-text">Cargando novedades...</p>
        </div>
        <button id="button-close-whats-new" class="button-close-whats-new button">¡Entendido!</button>
    </div>
</div>
