/* ==========================================
    TEMAS DE ACCESIBILIDAD WEB
========================================== */

/* ==========================================
    DESACTIVACIÓN DE ANIMACIONES
========================================== */
html.reduce-motion *,
html.reduce-motion *::before,
html.reduce-motion *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}
html.reduce-motion .loader-spinner {
    animation: none !important;
}

/* ==========================================
    MODO ESCALA DE GRISES
========================================== */
html.grayscale-mode,
body.grayscale-mode {
    filter: grayscale(100%);
}

/* ==========================================
    FUENTE PARA DISLEXIA
========================================== */
html.dyslexic-mode,
html.dyslexic-mode * {
    line-height: var(--lh-normal) !important;
    font-family: "Atkinson Hyperlegible", sans-serif !important;
    letter-spacing: 0.03em !important;
}
